#include "version.h"
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION BO2Z_VERSION_COMMA
 PRODUCTVERSION BO2Z_VERSION_COMMA
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "J_axon\0"
            VALUE "FileDescription", "BO2Z-Offline local service backend\0"
            VALUE "FileVersion", BO2Z_VERSION_STRING
            VALUE "ProductName", "BO2Z-Offline\0"
            VALUE "ProductVersion", BO2Z_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
